<%- include('header'); -%>
 <div class="content">
 <h2 id="welcome">Contacts</h2>
 <p>Websiite:<br>
    <b>Creation by: Alistair Brown</b><br>
    <b>Email:</b> ab2009@hw.ac.uk <br>
    <br><br>
<h2 id="welcome">More Information</h2>
 <p>Heriot Watt Unversity:<br>
   <b>Address:</b> Campus The Avenue,<br>Edinburgh EH14 4AS
 
 </div>
<%- include('footer'); -%>